*.exe
*.o
*.a
*.so
*.dll
*.cpp.d
*.c.d
*.log

!build/

build/*
!build/assets/

*.gch
*.pch
*.sublime-project
*.sublime-workspace
**/.vscode/ipch
dump
.vscode
run.fish
*.code-workspace
